/* initial CSS code */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

body {
  margin: 0px;
  font-family: Arial;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  border-radius: 8px;
}

.header-image {
  border: solid #4C863D 3px;
}

main h2 {
  font-size: 28px;
  font-family: 'Notable',sans-serif;
  font-weight: 200;
}

main h3 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 200;
  text-align: center;
}

main p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.9em;
  margin-bottom: 0em;
  text-align: center;
}



main a {
  font-family: sans-serif;
  line-height: 1.9em;
}

a:link { color: white; }
a:hover { color: #1fc01f; }

/* Main */

main .wrapper h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 24px;
  color: #4C863D;
}

/* Articles and whatnot */ 

#home #portfolio  {
  margin-bottom: 120px;
}



#portfolio h2{
  text-align: center;
}

#home {
  margin-top: 50px;
}

/* The About Article section */ 

#about {
  padding: 20px 0 30px 0;
  margin: 50px 0;
  background: linear-gradient(to right,#65aa54, #376e29);
  color: white;
  text-align: left;
}
 #wrapper {
  width: 100%;
}

button {
  background-color:#4C863D;
  color: white;
  border-radius: 20px;
  border: solid 3px white;
  background-clip: padding-box;
  margin-top: 3px;
  margin-bottom: 20px;

}

/* footer */
footer {
  background-color: #4C863D;
  margin-top: 1%;
  text-align: center;
  color: white;
}


/* Contact Form */ 

form {
  padding-right: 10px;
  margin-left: 20px;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 100px;
}

#contact a:hover {
  color: #19f819;
}

#submit {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 1rem;
  background-color: #4C863D;
  border: white 0.5rem solid;
  border-radius: 1.5rem;
  margin-top: 1rem; 
}

/* Groups and Items (Mobile First) */

 .wrapper {
  width: 100%;
} 

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Hamburger Menu */

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 1rem solid white;
  width: 6.6rem;
  height: 6.6rem;
  margin-left: 52rem;
  margin-top: 0;
}

.menu-btn_burger {
  width: 3.5rem;
  height: 0.5rem;
  background: white;
  box-shadow: 0 2px 5px rgba(9, 77, 32, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position:absolute;
  width: 3.5rem;
  height: 0.5rem;
  background: white;
  border-radius: 2rem;
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-1.33rem)
}

.menu-btn_burger::after {
  transform: translateY(1.33rem);
}

/* Burger menu animation */

.menu-btn.open .menu-btn_burger {
  transform: translateX(-4.167rem);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(2.917rem , -2.917rem);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(2.917rem, 2.917rem);
}



/* Header */

header {
  background-color:#4C863D;
  margin-bottom: 40px;
  display: block;
}

header h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-family: 'Notable', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color:white;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Notable', sans-serif;
}

header nav ul li a:hover {
  color: #4cdf27;
}






/* mobile media query */

@media screen and (min-width: 400px) {
  
  :root {
    font-size: 14px;
  }

  html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  /* Header Styling */

  header {
    background: linear-gradient(to right,#65aa54, #376e29);
    margin-bottom: 3rem;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .nav-name {
    color: white;
    font-family: 'Notable', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    width: 85%;
    margin: 0;
  }

  header nav {
    display: flex;
    justify-content: center;
  }

  header nav ul {
    display: flex;
  }

  header nav ul li {
    list-style-type: none;
    margin: 0 1rem 0 0;
  }

  

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }

  header nav ul li a:hover {
    color: #19f819;
  }

  a:link {color: white;}
  a:hover{color:#19f819;}


  /* Wrapper */

   .wrapper {
  width: 100%;
  height: 100%; 
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  } 

  /* Home Section / Intro */

  #home .group .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  h2.intro {
    font-size: 2rem;
    font-family: 'Notable',sans-serif;
    font-weight: 200;
    background: linear-gradient(to right,#65aa54, #376e29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
  }

  #home p {
    font-family: 'Montserrat', sans-serif;
    color: #4C863D;
    font-size: 1.5rem;
    width: 75%;
    line-height: 3.5rem;
    margin: 0;
  }

  #home .group .item img {
    width: 90%;
    height: auto;
    border: #4C863D solid 0.5rem;
    border-radius: 2rem;
  }

  
  
  

  /* About Me Section */

  h2.about-me {
    font-size: 2rem;
    font-family: 'Notable',sans-serif;
    font-weight: 200;
    color: white;
    margin-top: 2rem;
  }

  /* #about .wrapper {
     background: linear-gradient(to right,#65aa54, #376e29);
   } */

  #about p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    width: 75%;
    line-height: 3.5rem;
    margin: 0;
    text-align: left;
  }

  #about .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
  }

  #about img {
    width: 90%;
    height: auto;
    border: white solid 0.5rem;
    border-radius: 2rem;
  }

   /* Portfolio Section */

  #portfolio .wrapper {
    background: linear-gradient(to right,#65aa54, #376e29);
  }

  #portfolio .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  #portfolio h2 {
    font-size: 2rem;
    font-family: 'Notable',sans-serif;
    font-weight: 200;
    background: linear-gradient(to right,#65aa54, #376e29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
    text-align: center;
  }

  #portfolio h3 {
    text-align: center;
    color: #4C863D;
    font-size: 2rem;
    margin: 0 0 2rem 0;
 }

  .superHero {
    border: white 0.5rem;
    border-radius: 2rem;
    align-items: center;
    width: 75%;
  }



  .heroP {
    color:#4C863D
  }

  .bookAuth {
    border:white solid 0.5rem;
    border-radius: 2rem;
    align-items: center;
    width: 75%;
  }

  .book-auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background: linear-gradient(to right,#65aa54, #376e29);

    
  }

  #bookP {
    color: white;
  }

  #portfolio .book-auth-section h3 {
    color: white;
    margin-top: 2rem;
  }

  
 

  

  #portfolio p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    width: 75%;
    line-height: 3.5rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
  
  }

  /* Icons */
  
 
 

  .devicon-javascript-plain {
    font-size: 3.5rem;
    margin-left: 2rem;
  }

  .devicon-jquery-plain {
    font-size: 3.5rem;
    margin-left: 2rem;
  }

  .devicon-html5-plain {
    font-size: 3.5rem;
    margin-left: 2rem;
  }

  .devicon-css3-plain {
    font-size: 3.5rem;
    margin-left: 2rem;
  }
  .devicon-react-original{
    font-size: 3.5rem;
    margin-left: 2rem;
  }

  /* Project Links */

  .project-links {  
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 2.9%;
  }

  #portfolio p a {
    color:#4C863D;
    display: inline-block;
    width: 75%;
    font-size: 1.5rem;
  }

  #portfolio p a:hover {
    color: #19f819;
  }
  
  #portfolio .book-auth-section p a {
    color: white;
    display: inline-block;
    width: 75%;
    font-size: 1.5rem;
  }
  
  #portfolio .book-auth-section p a:hover {
    color: #19f819;
  }

  /* Contact Section */

  #contact {
    width: 100%; 
    background: linear-gradient(to right,#65aa54, #376e29);
    color: white;
  }

   #contact .item,
    h2 {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
  }

  #contact h2 {
    font-size: 2rem;
    font-family: 'Notable',sans-serif;
    font-weight: 200;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Contact Form */

  .form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-name,
  .user-email,
  .user-message {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    
  }

  #user-name {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 2rem;
    height: 1.9rem;
    

  }

  #user-email {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 2rem;
    height: 1.9rem;
  

  }

  #user-message {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 4rem;
    margin-bottom: 2rem;
  
  }

  #submit {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0.5rem;
    background-color: #4C863D;
    border: white 0.5rem solid;
    border-radius: 2rem;
    margin-top: 1rem;
    
  }

  #submit:hover {
    color: #19f819;
  }

  #contact p, 
  #contact a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: white;
    width: 75%;
    line-height: 3.5rem;
    margin: 1.5rem 0 1rem 0;
    text-align: center;

    display: inline-block;
    flex-direction: column;
  }

  #contact a:hover {
    color: #19f819;
  }

  

  /* Footer */

  footer {
    background: linear-gradient(to right,#65aa54, #376e29);
    text-align: center;
    color: white;
    height: 5rem;

    display: flex;
    flex-direction: column;

  }
  footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }

}



/* Desktop Layout */
@media all and (min-width: 800px) {

  :root {
    font-size: 16px;
  }


  /* Header */

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 12%;
  }

  .nav-name {
    font-size: 2rem;

    display: inline-block;
    width: 50%;
    padding: 0 0 0 5%;
  }

  header nav {
    width: 100%;
    padding: 0 5% 0 0;
  }

  header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }

  /* Intro Section */

  #home .group {
    display: flex;
    flex-direction: row;
  }

  #home .item {
    width: 50%;
  }

  #home .group .item img {
    width: 60%;
    height: auto;
    border: #4C863D solid 0.5rem;
    border-radius: 2rem;
    margin: 0;
  }

  


  h2.intro {
    font-size: 2rem;
    width: 75%;
    display: inline-block;    
  }

  #home p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
  }

  #home p, #home h2 {
    padding: 0 15% 0 0;
  }

  /* About Me Section */

  #about h2 {
    color: white;
    font-size: 2rem;
    display: inline-block;
    width: 85%;
  }

  h2.about-me {
    margin-top: 5rem;
  }

  #about p {
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
  }

  #about .group {
    display: flex;
    flex-direction: row;
  }

  #about .item {
    display: inline-block;

    width: 50%;
    padding: 0 0 0 7%;
  }

  #about img {
    width: 70%;
    height: auto;
    margin: 3rem 0 3rem 0;
  }

  #img {
      width: 150%;
      height: 90%;
      margin-top: 20%;
  }

  /* Portfolio */

  #portfolio h2 {
    font-size: 3rem;
  }

  #portfolio h3 {
    font-size: 2rem;
  }

  #portfolio p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
  }  

  .book-auth-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }



  /* Portfolio Images */

  .superHero {
    border: white solid 0.5rem;
    border-radius: 2rem;
    align-items: center;
    width: 55%;
  }

  .heroP {
    color:#4C863D;
  }
  
  .bookAuth {
    border: white solid 0.5rem;
    border-radius: 2rem;
    align-items: center;
    width: 55%;
  }

  /* Dev Icons */

  .devicon-javascript-plain {
    font-size: 5rem;
  }

  .devicon-jquery-plain {
    font-size: 5rem;
    margin-left: 3.5rem;
  }

  .devicon-html5-plain {
    font-size: 5rem;
    margin-left: 3.5rem;
  }

  .devicon-css3-plain {
    font-size: 5rem;
    margin-left: 3.5rem;
  }
  .devicon-react-original{
    font-size: 5rem;
    margin-left: 3.5rem;
  }

  /* Project Links */

  .project-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 7.5%;
    margin-left: 7.5%;
  }

  #portfolio p a {
    color: #4C863D;
    display: inline-block;
    width: 95%;
    font-size: 2rem;
    margin: 2rem;
  }


  #portfolio .superHero p a {
    color: #4C863D;
    display: inline-block;
    width: 95%;
    font-size: 2rem;
    margin: 2rem;
  }

  #portfolio .superHero p a:hover {
    color: #19f819;
  }

  #portfolio .book-auth-section p a {
    color: white;
    display: inline-block;
    width: 95%;
    font-size: 2rem;
    margin: 2rem;
  }
  #portfolio .book-auth-section p a:hover {
    color: #19f819;
  }

  /* Contact */

  #contact {
    width: 100%; 
    background: linear-gradient(to right,#65aa54, #376e29);
    color: white;
  }

  #contact .group {
    display: flex;
    flex-direction: row;
    
  }

  #contact h2 {
    font-size: 3rem;
    display: inline-block;
    width: 85%;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

  #contact .item, .form-item {
    display: inline-block;
    width: 50%;
    color: white;
  }

  #contact .item p {
    color: white;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    padding: 0 0 0 2%;
  }

  #contact .item p a {
    color: white;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
    padding: 0 0 0 2%;
  }

  #contact .item p a:hover {
    color: #19f819;
  }



  .user-name,
  .user-email,
  .user-message {
    color: #eefdea;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    
  }

  #user-name {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 2rem;
    height: 2rem;

  }

  #user-email {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 2rem;
    height: 2rem;

  }

  #user-message {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 2rem;
    margin-bottom: 2rem;
  }

  #submit {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1rem;
    background-color: #4C863D;
    border: white 0.5rem solid;
    border-radius: 1.5rem;
    margin-top: 1rem;
    
  }

  /* Footer */

  footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }

}
